@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* VARIABLES */
:root {
    --major-bg-color: #131921;
    --minor-bg-color: #ebeded;
    --amazon-major-color: #febd68;
}

/* BODY */
body {
    background-color: var(--minor-bg-color)
}

/* HEADER */
.header{
    width: 100%;
    height: 50px;
    background-color: var(--major-bg-color);
    display: flex;
    justify-content: center;
}
.header .header-nav {
    margin-top: 2px;
    display: flex;
    justify-content: center;
}
.header .header-nav .header-container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header-nav .header-container .amazon-logo {
    width: 100px;
}
.header .header-nav .header-container .header-search {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.header .header-nav .header-container .header-search .search-input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    padding: 0 10px;
}
.header .header-nav .header-container .header-search .search-button {
    width: 40px;
    height: 42px;
    /* border-radius: 5px; */
    background-color: var(--amazon-major-color);
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #232323;
}
.header .header-nav .header-container .header-cart {
    color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header-nav .header-container .header-cart svg {
    width: 40px;
    height: 40px;
}

/* SECTION 1 */
.section-1 {
    width: 100%;
    height: auto;
    background: url('https://images-eu.ssl-images-amazon.com/images/G/31/img22/Fashion/Gateway/BAU/Aug/Apay/GW-PC-Deals-Unrec-3000._CB629506848_.jpg');
    background-size: cover;
    display: flex;
}
.section-1 .section-1-container {
    margin-top: 300px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.section-1 .section-1-container .section-1-column {
    width: 100%;
    height: 300px;
    background-color: white;
    padding: 20px;
}

.section-1 .section-1-container .section-1-column img {
    margin-top: 20px;
    width: 100%;
    height: auto;
}
.section-1 .section-1-container .section-1-column p {
    margin-top: 10px;
    font-size: 14px;
    color: #007185;
}
.section-1 .section-1-container .section-1-column button {
    margin-top: 10px;
    width: 100%;
    border: none;
    background-color: var(--amazon-major-color);
    padding: 8px;
    border-radius: 10px;
}

/* SECTION 2 */
.section-2 {
    margin: 20px;
    padding: 20px;
    background-color: white;
}
.section-2 .section-2-container h3 {
    margin-bottom: 10px;
}
.section-2 .section-2-container .product-cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.section-2 .section-2-container .product-card {
    display: inline-block;
    width: 300px !important;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-2 .section-2-container .product-card img {
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
}

/* SECTION 3 */
.section-3 {
    background-color: white;
}
.section-3 .section-3-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}
.section-3 .section-3-container .product-detail-cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card {
    display: inline-block;
    width: 200px !important;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card .product-detail-img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card img {
    width: 100%;
    height: auto;
    max-width: 160px;
    max-height: 140px;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card a {
    text-decoration: none;
    color: #007185;
    font-size: 14px; ;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card a:hover {
    color: #c45500;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card .product-deliver-by {
    color: #222;
    font-size: 10px;
}

/* SECTION 4 */
.section-4 {
    /* background-color: white; */
    padding: 20px;
}
.section-4 .section-4-container {
    /* border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-4 .section-4-container p{
    margin: 4px;
    font-size: 14px;
}
.section-4 .section-4-container button{
    width: 300px;
    border: none;
    background-color: var(--amazon-major-color);
    padding: 8px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    margin-top: 20px;
    font-size: 12px;
    width: 100%;
    height: 50px;
    color: white;
    background-color: var(--major-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-child {
    position: absolute;
    top: 259px;
    left: 464px;
    border-radius: 37px;
    background-color: #c74848;
    filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 431px;
    height: 542px;
  }
  .blackshoes-1-icon {
    position: absolute;
    top: 530px;
    left: 493px;
    width: 106px;
    height: 93px;
    object-fit: cover;
  }
  .carbon-footprint {
    position: absolute;
    top: 289px;
    left: 481px;
    font-size: 32px;
    color: var(--color-black);
    display: inline-block;
    width: 418px;
    height: 64px;
    mix-blend-mode: darken;
  }
  .kg-co2 {
    top: 339px;
    left: 492px;
    width: 161px;
    height: 24px;
  }
  .a-car-travelling,
  .kg-co2,
  .save-up-to {
    position: absolute;
    display: inline-block;
  }
  .a-car-travelling {
    top: 390px;
    left: 492px;
    color: #aee2b0;
    width: 335px;
    height: 87px;
  }
  .save-up-to {
    top: 488px;
    left: 495px;
    width: 468px;
    height: 59px;
  }
  .mens-running-shoes {
    margin: 0;
  }
  .mens-running-shoes-container {
    position: absolute;
    top: 657px;
    left: 489px;
    font-size: var(--font-size-base);
    text-align: center;
    display: inline-block;
    width: 140px;
    height: 35px;
  }
  .blackshoes2-1-icon {
    position: absolute;
    top: 530px;
    left: 714px;
    width: 115px;
    height: 93px;
    object-fit: cover;
  }
  .dream-black-shoes,
  .kgco2,
  .kgco21 {
    position: absolute;
    top: 660px;
    left: 696px;
    font-size: var(--font-size-base);
    text-align: center;
    display: inline-block;
    width: 146px;
    height: 23px;
  }
  .kgco2,
  .kgco21 {
    top: 692px;
    left: 493px;
    font-size: var(--font-size-17xl);
    color: #22ea1e;
    width: 136px;
    height: 62px;
  }
  .kgco21 {
    top: 694px;
    left: 690px;
    color: #2ff00f;
    width: 139px;
  }
  .rectangle-parent {
    position: relative;
    width: 100%;
    height: 2011px;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-emblema-one);
  }
  
#m{display: none;} 